In [6]:
import pandas as pd


# Import Data from open source socrata.com - payroll
data = pd.read_csv('D:\Belajar\Project Py\Dataset\Payroll_Report_-_End_Date_2_20_2019.csv', sep=',')
Columns = list(data.columns)
# Compile the columns name into a list
print(Columns)
# Simple view
data.head()

['EMPLOYEE_NAME', 'OFFICE', 'CITY', 'EMPLOYEE_TITLE', 'BIWEEKLY/HOURLY_RATE', 'PAYROLL_TYPE', 'PAY_PERIOD', 'PAY_PERIOD_BEGIN_DATE', 'PAY_PERIOD_END_DATE', 'CHECK_DATE', 'LEGISLATIVE_ENTITY']
         EMPLOYEE_NAME                         OFFICE      CITY  \
0      ABBOT, JUDITH L      SENATOR TOBY ANN STAVISKY  FLUSHING
1    ABRAHAM, PRINCY A       MINORITY COUNSEL/PROGRAM    ALBANY
2       ABREU, BRIAN A  LEGISLATIVE MESSENGER SERVICE    ALBANY
3  ACEVEDO, SAMANTHA I          SENATOR JESSICA RAMOS    ALBANY
4       ADAMS, DAVID V        SENATE SERGEANT-AT-ARMS    ALBANY

             EMPLOYEE_TITLE  BIWEEKLY/HOURLY_RATE PAYROLL_TYPE  PAY_PERIOD  \
0         COMMUNITY LIAISON               1076.93           SA          23
1         ASSOCIATE COUNSEL               2376.93           RA          23
2                 MESSENGER               1173.93           RA          23
3        COMMITTEE DIRECTOR               2115.39           RA          23
4  SESSION SERGEANT-AT-ARMS                820.95           SA          23

    PAY_PERIOD_BEGIN_DATE     PAY_PERIOD_END_DATE              CHECK_DATE  \
0  02/07/2019 12:00:00 AM  02/20/2019 12:00:00 AM  03/06/2019 12:00:00 AM
1  02/07/2019 12:00:00 AM  02/20/2019 12:00:00 AM  03/06/2019 12:00:00 AM
2  02/07/2019 12:00:00 AM  02/20/2019 12:00:00 AM  03/06/2019 12:00:00 AM
3  02/07/2019 12:00:00 AM  02/20/2019 12:00:00 AM  03/06/2019 12:00:00 AM
4  02/07/2019 12:00:00 AM  02/20/2019 12:00:00 AM  03/06/2019 12:00:00 AM

           LEGISLATIVE_ENTITY
0             SENATE EMPLOYEE
1             SENATE EMPLOYEE
2  JOINT LEGISLATIVE EMPLOYEE
3             SENATE EMPLOYEE
4             SENATE EMPLOYEE

In [29]:
# Find out which employee title has the highest mean rate.
data.groupby('EMPLOYEE_TITLE').mean().sort_values(by=Columns[4], ascending=False)

                                      BIWEEKLY/HOURLY_RATE  PAY_PERIOD
EMPLOYEE_TITLE
SECRETARY OF THE SENATE                           7115.390          23
SECRETARY SENATE FINANCE COMMITTEE                6927.885          23
CHIEF OF STAFF/MAJORITY COUNSEL                   6923.080          23
DIR. CONFERENCE SERVICES                          6905.200          23
DIRECTOR, SENATE TECHNOLOGY SERVICES              6779.120          23
...                                                    ...         ...
LEGIS ANALYST CONST. SVCS SPECIALIST                24.000          23
ADMINISTRATIVE ASSISTANT & COLUMBIA                 18.000          23
SENIOR LIASON                                       16.000          23
INTERN                                              14.800          23
MESSENGER APPRENTICE                                11.100          23

[494 rows x 2 columns]

In [64]:
# Who has the highest rate for each payroll type?
'''
Steps:
1. Group By [PAYROLL_TYPE] and select column [BIWEEKLY/HOURLY_RATE]
2. Pd.transform, redefine each values to its Max in each group
3. Get index that has the same value as column [BIWEEKLY/HOURLY_RATE] in main dataset 
'''

PayType = data['PAYROLL_TYPE'].unique()
index = data.groupby(['PAYROLL_TYPE'])[Columns[4]].transform(max) == data[Columns[4]]
# Result is..
data.loc[index, ['EMPLOYEE_NAME', 'PAYROLL_TYPE']]

            EMPLOYEE_NAME PAYROLL_TYPE
737     MESSINA, JOSEPH R           SA
795       NATOLI, DAVID J           TE
855  PAULINO, ALEJANDRA N           RA

In [66]:
# Check for variation in begin_date
data['PAY_PERIOD_BEGIN_DATE'].value_counts()

02/07/2019 12:00:00 AM    1203
Name: PAY_PERIOD_BEGIN_DATE, dtype: int64